<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">
        Transaction Reference
      </th>
      <th scope="col">
        Errors
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of report">
      <th scope="row">{{item.transactionReference}}</th>
      <td class="table-danger" *ngIf="item.errors.length > 0">
        <ul>
          <li *ngFor="let error of item.errors">
            {{error.message}}
          </li>
        </ul>
      </td>
      <td class="table-success" *ngIf="item.errors.length === 0">
        No errors found.
      </td>
    </tr>
  </tbody>
</table>
